* {
  margin: 0%;
  padding: 0%;
}
/* Header Start */
header {
  background-color: #00306e;
  color: white;
  display: flex;
  width: 100%;
  font-size: 14px;
  height: 35px;
  justify-content: space-between;
}
.gap {
  display: flex;
  gap: 30px;
  margin-left: 30px;
  margin-top: 5px;
}

.icon {
  display: flex;
  justify-content: space-around;
  width: 80px;
  margin-right: 30px;
  align-items: center;
}
.gap p:hover {
  color: #b5b2b2;
}
.icon :hover {
  color: #b5b2b2;
}
@media only screen and (max-width: 901px) {
  header {
    display: none;
  }
}
/* Header End */
/* Navbar Start */
.logo {
  margin-left: 20px;
}
.logo > img {
  width: 250px;
}
.Link {
  font-size: larger;
  font-weight: 500;

  margin-right: 40px;
}

.Link1 {
  font-size: larger;
  margin-top: 8px;
  font-weight: 500;
  margin-right: 40px;
  color: red;
}
.Sreach {
  border-radius: 5px;
  /* background-color: black; */

  border: none;
}
.Srec {
  /* border-radius: 5px; */
  /* background-color: black; */
  border: none;
}
/* Navbar End */
/* Slider Start */
.Sliderh4 {
  /* margin-bottom: 0px; */
  color: white;
  background-color: red;
  width: 500px;
}
.Sliderh1 {
  margin-bottom: 50px;
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-right: 550px;
  /* background-color: red; */
  width: 500px;
  /* border: 2px solid green; */
}
.button1 {
  margin-bottom: 100px;
  /* border: 2px solid green; */
  padding: 10px 40px;
  border-radius: 5px;
  background-color: transparent;
  font-weight: bold;
  margin-right: 460px;
}
.button1:hover {
  border: 2px solid red;
  color: red;
}
@media only screen and (max-width: 901px) {
  .Sliderh1 {
    margin-bottom: 20px;
    width: 100%;
    font-size: large;
  }
  .Sliderh4 {
    margin: auto;
    font-size: large;
    width: 100%;
  }
  .button1 {
    margin: auto;
    margin-bottom: 100px;
    font-size: xx-small;
  }
  .Slider img {
    width: 100%;
    height: 60vh;
  }
  .logo {
    margin-left: 0px;
  }
  .logo > img {
    width: 200px;
  }
}
/* Slider End */
/* Card Start */
.card {
  position: relative;
  overflow: hidden;
  padding: 0;
}
.cardDetails {
  position: absolute;
  bottom: 10px;
  left: 30px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  z-index: 2;
  display: flex;
  line-height: 0;
  flex-direction: column;
  gap: 5px;
}
.imgDiv {
  position: relative;
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.897);
  height: 100%;
  opacity: 0;
  transition: ease-in-out 0.5s;
  top: 0;
  overflow: hidden;
}

.card img {
  width: 100%;
}
.card:hover .overlay {
  opacity: 1;
}
.card:hover .cardDetails {
  color: rgb(211, 208, 208);
}
.heading {
  color: #00306e;
  font-weight: 900;
}
/* Card End */
/* Platform Start */
.PlatformHead {
  padding: 10px 0;
  color: rgba(92, 92, 92, 0.653);
}
.PlatformHead h1 {
  color: #00306e;
  width: 60%;
  font-weight: 700;
  font-size: 2.9rem;
  line-height: 2.4rem;
}
.PlatformHead h1 span {
  color: #d2093c;
}
.PlatformHead p {
  font-size: 22px;
}
.PlatformHead p span {
  color: #d2093c;
  text-decoration: underline;
  font-weight: 500;
}
.platformMid p {
  font-size: 20px;
  color: rgba(92, 92, 92, 0.653);
}
.platformFooter {
  gap: 40px;
}
.platformFooter span {
  font-size: 26px;
  color: #00306e;
}
.platformFooter .getsupport {
  line-height: 0;
}
.platformFooter .getsupport p {
  color: #00306e;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}
.platformFooter .getsupport p:hover {
  color: #d2093c;
  transition: 0.5s;
}
.customBtn button {
  padding: 12px 20px;
  border: none;
  background: none;
  color: #00306e;
  border: 1px solid rgba(167, 164, 164, 0.712);
  border-radius: 5px;
  font-weight: 500;
}
.customBtn button:hover {
  background-color: #d2093c;
  color: white;
  transition: 0.8s;
  border: 1px solid rgba(255, 255, 255, 0);
}
/* Platform End */
/* Campus Start */
.arrowLeft {
  width: 50px;
  height: 50px;
  color: #00306e;
  border-radius: 50%;
  border: 1.5px solid rgba(112, 112, 112, 0.614);
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrowLeft:hover {
  background: #00306e;
  color: white;
  transition: 0.5s;
}
.campuscompo h5 {
  color: #00306e;
  font-weight: 700;
}
.campus {
  background-color: #f5f5f5;
  padding: 0 70px;
}

@media screen and (max-width: 500px) {
  .campus {
    padding: 0 20px;
  }
}
/* Campus End */
/* Course Start */
.CourseBg {
  box-shadow: 3px 3px 10px rgba(207, 207, 207, 0.905);
}
.uxDesign {
  display: flex;
  gap: 20px;
}
.uxDesign h5 {
  color: #d2093c;
  font-weight: 350;
}
.uxDesign p {
  font-size: 18px;
  color: #00306e;
}
.courseTile {
  color: #00306e;
  font-weight: 600;
  line-height: 22px;
}
.price {
  display: flex;
  justify-content: space-between;
}
.price h4 {
  color: #d2093c;
}
/* Course End */
/* Enrolled Start */
.states {
  background-color: #d2093c;
}
.statesBox {
  border-right: 0.1px solid rgba(178, 178, 178, 0.375);
}
.statesBox h4 {
  line-height: 1.2;
  font-size: 20px;
  font-weight: 700;
}
.statesBox h1 {
  font-weight: 800;
  font-size: 50px;
}
.statesBox h6 {
  letter-spacing: 2px;
  font-size: 14px;
}
/* Enrolled End */
/* Reveiw Start */
.reviewContain {
  border: 2px solid rgba(195, 195, 195, 0.728);
  border-radius: 10px;
}
.Name h5 {
  font-weight: 700;
}
.Name span {
  color: rgba(66, 65, 65, 0.932);
}
.review {
  line-height: 1.5;
  color: rgba(125, 125, 125, 0.932);
}
.Rating .stars {
  color: orange;
}
/* Reveiw End */
/* Blog Start */
.blogs {
  background-color: #f5f5f5;
}
.blogCard {
  box-shadow: 3px 3px 25px rgba(85, 84, 84, 0.445);
  border-radius: 4px;
  overflow: hidden;
}
.blogPhoto {
  position: relative;
  overflow: hidden;
}
.blogPhoto img {
  transition: all 0.9s;
}
.blogPhoto img:hover {
  transform: scale(1.2);
}
.date {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #d2093c;
  padding: 3px 12px;
  color: white;
  border-radius: 6px;
}
.blogsDetails h6 {
  color: #d2093c;
}
.blogsDetails p {
  color: #00306e;
  transition: 0.5s;
  cursor: pointer;
}
.blogsDetails p:hover {
  color: #d2093c;
}
/* Blog End */
/* Footer Start */
.footerlist {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts {
  line-height: 0.5;
  cursor: pointer;
}
.contacts p:hover {
  color: #d2093c;
  transition: 0.4s;
}
.footerlist ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.footerlist ul a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.805);
}
.footerlist ul a:hover {
  color: #d2093c;
  transition: 0.4s;
  text-decoration: underline;
}
.inpBox {
  display: flex;
  background-color: aqua;
  height: 55px;
  border-radius: 5px;
  overflow: hidden;
}
.inpBox input {
  width: 90%;
  height: 100%;
  outline: none;
  border: none;
  padding: 10px;
}
.inpBox .inpArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  background-color: #467efc;
  font-size: 24px;
  padding: 0 30px;
}
.copyright {
  font-size: 14px;
  font-weight: 600;
}
.copyright span {
  color: #d2093c;
}
.follow {
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.scoial {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 50%;
}
.scoial:hover {
  border: 1px solid rgb(255, 0, 0);
  background-color: #ca0a3a;
}
.COlor {
  background-color: #0f1216;
}
/* Footer End */
